/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/lato-v17-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-regular - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  body {
      font-family: Lato;
  }

  * {
    margin: 0;
    padding: 0;
    }

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background: #222222;
    height: 75px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header__menu__items {
    display: flex;
}

.menu__item {
    list-style-type: none;
    margin-right: 33px;
}

.top_content {
    background: #F1E4E6;
    height:764px;
    display: flex;
}

.content-mini {
    align-self: center;
    margin-left: 92px;
}


.fashion {
    color: #F16D7F;;
}

.brand {
font-weight: 900;
font-size: 48px;
line-height: 58px;
color: #222222;
}

.top_content {
    display: flex;
}
